*{
    margin: 0;
    padding: 0;
 
    box-sizing: border-box;
}
.box-one{
  background-color: red;
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 10px solid palevioletred;
  padding: 10px;


}
.box-two{
  background-color: rebeccapurple;
  height: 100px;
  width: 100px;
}